@model BannerVM
@{
    ViewData["Title"] = "Detail";
}

<main style="margin-top: 70px; margin-left:60px;">

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview-pic tab-content">

                        <div class="tab-pane active"><img style="witdh:200px; height:200px" src="~/assets/img/@Model.Image" /></div>



                    </div>
                   
                </div>
            </div>
        </div>
        <a asp-action="Index" class="btn btn-secondary mr-2 mt-5">Back</a>
    </div>
</main>







