@model HomeVM


@{
    ViewData["Title"] = "Home Page";
}


<div class="container mx-auto w-[1160px]">
    <div class="py-[48px] ">
        <div class="banner mb-[84px]">
            <img src="~/assets/img/1160x150_8px_radius_d4e1a23146.4a3e3dad.png" class="w-full " alt="">
        </div>
        <div class="offers mb-[84px]">
            <div class="h2 flex items-center justify-between mb-[36px]">
                <h2 class=" text-[32px]">Xüsusi təkliflər</h2>
                <a href="#"
                   class="border border-[#1f2022] text-[15px] font-semibold rounded-[8px] py-[12px] px-[20px]">
                    Hamısına
                    baxın
                </a>
            </div>
            <div class="flex items-center gap-[16px]">
                <div class="flex justify-between">
                    <div class=" ">
                        <img src="~/assets/img/AZ_ada4a0eacb.81977812.jpg"
                             class="size-full object-contain rounded-[8px] w-[350px] " alt="">
                    </div>
                    <div class="pt-[32px] pl-[24px] max-w-[200px] ">
                        <h3 class="h2 inline-block h-[60px]  overflow-hidden text-[20px]">
                            UCard
                            sahiblərinə rahat və sərfəli səyahət fürsəti!
                        </h3>
                        <p class=" line-clamp-2 text-ellipsis text-[14px] text-[#6e7583] mb-[24px]">
                            İndi
                            AZAL-dan bilet aldıqda ödəməni 6 ayadək faizsiz taksitlə edə bilərsiniz.
                        </p>
                        <a href="#" class="text-[#40b7de] font-semibold hover:underline">Daha ətraflı</a>
                    </div>
                </div>
                <div class="flex justify-between">
                    <div class=" ">
                        <img src="~/assets/img/Dubai_2400x1350_AZ_52f604f7b5.da463bfc.jpg"
                             class="size-full object-contain rounded-[8px] w-[350px] " alt="">
                    </div>
                    <div class="pt-[32px] pl-[24px] max-w-[200px] ">
                        <h3 class="h2 inline-block h-[60px]  overflow-hidden text-[20px]">
                            Dubay
                            səyahətinizi reallaşdırmaq üçün əla fürsət! İndi biletlər cəmi 99€-dan başlayan
                            qiymətlərlə!
                        </h3>
                        <p class=" line-clamp-2 text-ellipsis text-[14px] text-[#6e7583] mb-[24px]">
                            Dubay
                            səyahətinizi reallaşdırmaq üçün əla fürsət! İndi biletlər cəmi 99€-dan başlayan
                            qiymətlərlə!
                        </p>
                        <a href="#" class="text-[#40b7de] font-semibold hover:underline">Daha ətraflı</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="usefulLink mb-[84px]">
            <div class="h2 flex items-center justify-between mb-[36px]">
                <h2 class=" text-[32px]">Faydalı keçidlər</h2>
            </div>
            <div class="flex gap-[24px]">
                <a href="#" id="useful"
                   class="border hover:scale-105 transition-all duration-300 flex-1 rounded-[12px]  max-w-[370px] overflow-hidden inline-block">
                    <div class="h-[208px]">
                        <img src="~/assets/img/business_class_p_2_33c4d907d3.fd011fad.jpg" class="size-full"
                             alt="">
                    </div>
                    <div class="p-[24px] flex flex-col justify-between h-[196px]">
                        <div>
                            <h2 class=" h2 text-[20px] font-semibold mb-[8px]">Biznes-klass</h2>
                            <p class=" text-[#6e7583] text-[14px]">
                                Biznes Sinifdə daha rahat və sərbəst
                                səyahət edin
                            </p>
                        </div>
                        <div class="moreBtn text-[16px] text-[#40b7de] font-semibold">
                            <p>Daha ətraflı</p>
                        </div>
                    </div>
                </a>
                <a href="#" id="useful"
                   class="border hover:scale-105 transition-all duration-300 flex-1 rounded-[12px]  max-w-[370px] overflow-hidden inline-block">
                    <div class="h-[208px]">
                        <img src="~/assets/img/qidalanma_3_d30d72de34.9ffad3ae.jpg" class="size-full" alt="">
                    </div>
                    <div class="p-[24px] flex flex-col justify-between h-[196px]">
                        <div>
                            <h2 class=" h2 text-[20px] font-semibold mb-[8px]">Təyyarədə qidalanma</h2>
                            <p class=" text-[#6e7583] text-[14px]">
                                "Azərbaycan Hava Yolları"
                                aviaşirkətinin bütün beynəlxalq reyslərində pulsuz qidalanma təmin olunur.
                            </p>
                        </div>
                        <div class="moreBtn text-[16px] text-[#40b7de] font-semibold">
                            <p>Daha ətraflı</p>
                        </div>
                    </div>
                </a>
                <a href="#" id="useful"
                   class="border hover:scale-105 transition-all duration-300 flex-1 rounded-[12px]  max-w-[370px] overflow-hidden inline-block">
                    <div class="h-[208px]">
                        <img src="~/assets/img/mile_ba6f049c01.aa62193e.jpg" class="size-full" alt="">
                    </div>
                    <div class="p-[24px] flex flex-col justify-between h-[196px]">
                        <div>
                            <h2 class=" h2 text-[20px] font-semibold mb-[8px]">AZAL-Miles</h2>
                            <p class=" text-[#6e7583] text-[14px]">
                                AZAL-Miles proqramı “Azərbaycan Hava
                                Yolları” aviaşirkəti ilə tez-tez uçan sərnişinlər üçün yaradılmış proqramdır.
                            </p>
                        </div>
                        <div class="moreBtn text-[16px] text-[#40b7de] font-semibold">
                            <p>Daha ətraflı</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="directions mb-[84px]">
            <div class="h2 flex items-center justify-between mb-[36px]">
                <h2 class="text-[32px]">Populyar istiqamətlər</h2>
            </div>
            <div class="grid grid-cols-4 gap-[24px]">
                <div>
                    <figure class="max-w-[272px] h-[190px] rounded-[12px] overflow-hidden">
                        <img src="~/assets/img/VIE.jpg" class="size-full object cover" alt="">
                    </figure>
                    <div class="mt-[16px] flex flex-col">
                        <div class="text-[20px] mb-[4px] h2">
                            <h2>Vyana</h2>
                        </div>
                        <div class="text-[14px] text-[#6e7583]">
                            <p>Avstriya</p>
                        </div>
                        <div class="text-[#40b7de] mt-[8px] text-[16px]">
                            <p>423 <span>₼</span></p>
                        </div>
                    </div>
                </div>
                <div>
                    <figure class="max-w-[272px] h-[190px] rounded-[12px] overflow-hidden">
                        <img src="~/assets/img/TBS.jpg" class="size-full object cover" alt="">
                    </figure>
                    <div class="mt-[16px] flex flex-col">
                        <div class="text-[20px] mb-[4px] h2">
                            <h2>Tbilisi</h2>
                        </div>
                        <div class="text-[14px] text-[#6e7583]">
                            <p>Gürcüstan</p>
                        </div>
                        <div class="text-[#40b7de] mt-[8px] text-[16px]">
                            <p>93 <span>₼</span></p>
                        </div>
                    </div>
                </div>
                <div>
                    <figure class="max-w-[272px] h-[190px] rounded-[12px] overflow-hidden">
                        <img src="~/assets/img/BCN.jpg" class="size-full object cover" alt="">
                    </figure>
                    <div class="mt-[16px] flex flex-col">
                        <div class="text-[20px] mb-[4px] h2">
                            <h2>Barselona</h2>
                        </div>
                        <div class="text-[14px] text-[#6e7583]">
                            <p>İspaniya</p>
                        </div>
                        <div class="text-[#40b7de] mt-[8px] text-[16px]">
                            <p>542 <span>₼</span></p>
                        </div>
                    </div>
                </div>
                <div>
                    <figure class="max-w-[272px] h-[190px] rounded-[12px] overflow-hidden">
                        <img src="~/assets/img/DXB.jpg" class="size-full object cover" alt="">
                    </figure>
                    <div class="mt-[16px] flex flex-col">
                        <div class="text-[20px] mb-[4px] h2">
                            <h2>Dubay</h2>
                        </div>
                        <div class="text-[14px] text-[#6e7583]">
                            <p>Birləşmiş Ərəb Əmirlikləri</p>
                        </div>
                        <div class="text-[#40b7de] mt-[8px] text-[16px]">
                            <p>211 <span>₼</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
