@{
    ViewData["Title"] = "VerifyEmail";
}

<div class="container " style="margin-bottom:200px;margin-top:200px;">
    <div class="alert alert-warning" role="alert">
        Please check your email for confirmation!
    </div>

</div>
