@model Service.ViewModels.Blogs.BlogCreateVM

@{
    ViewData["Title"] = "Create Blog";
}
<main style="margin-top: 70px; margin-left:60px;">
<h1>Create Blog</h1>

<h4>Blog</h4>
<hr />

    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label for="category">Image</label>
                <span asp-validation-for="Image" class="text-danger"></span>
                <input class="form-control form-bg-light" type="file" asp-for="Image" maxlength="100">

                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.Languages"></select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
           
        
            
            <div class="form-group mt-5">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>


</main>
